@charset "utf-8";

@import url("./normalize");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: white;
}
.header {
  display: flex;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  
  justify-content: space-between;
}

.sticky {
  margin-left: 180px;
  padding: 0;
  height: 55px;
  /*left: 50px;
  right: 50px; */
}

.member {
  margin-right: 120px;
  background-color: white;
  justify-content: center;
  align-self: center;
  font-size: 14px;
  width: 500px;
  height: 14px;
  /* float: right; */
}
.mem{
  display: flex;
  justify-content: flex-start;
 
  
}
.mem li{
  display: block;
   margin-right: 40px;


}




.phto {
  display: flex;

  align-items: center;
}
